/* Adjustment Layers */
.v-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Element Styles */
.hover-ist {
    margin: 200px 0 10px 0;
}
.hover-ist li{
    margin: 10px 50px;
}
.hover-ist a{
    font-weight: 600;
    text-transform: lowercase;
    padding: 10px;
    width: 100%;
    display: block;
    transition: background-color 0.5s ease;
}
.hover-ist a:hover {
    color: #ffffff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
}
.hover-ist span {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .hover-ist {
        margin: 50px 0;    
    }
    .hover-ist li{
        margin: 10px 0;
    }
}


/* Bootstrap Overwrites */
.container-fluid {
    padding: 0;
}

.lead {
    color:#007bff;
    font-size: 1.6em;
    font-weight: 600;
}
