/* Adjustment Layers */
.v-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bootstrap Overwrites */
.container-fluid {
    padding: 0;
}

.lead {
    color:#007bff; /* Primary */
    font-size: 1.6em;
    font-weight: 600;
}

/* Universal */

::selection {
    background: #0062E6; /* 10% Darker Than Primary */
}
::-moz-selection {
    background: #0062E6; /* 10% Darker Than Primary */
}

a:hover{
    text-decoration: none;
}