/* React Ventures Styles */

.company {
  height: 150px;
  width: 150px;
  fill: #007bff; /* Primary */
  padding: 2em;
  border: 1px solid #007bff; /* Primary */
}

.icon {
  height: 25px;
  width: 25px;
  fill: #fff;
}
.navbar span {
  text-transform: initial;
}

/* Loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 100;
}

main {
  animation-name: loader-transition;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes loader-transition {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* Navigation */

.hover-er a {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: initial;
  padding: 0.6em 0.9em;
  margin: 0.5rem 1rem;
  transition: background-color 0.5s ease;
}

.hover-er a svg {
  flex: 1;
  display: inline-block;
  height: 30px;
  width: 100%;
  padding: 0 0.3em 0 0;
}

.hover-er a span {
  flex: 1;
  display: inline-block;
}

.hover-er a:hover {
  color: #fff;
  background-color: #0062e6; /* 10% Darker Than Primary */
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
}

/* Sidegation */

.hover-ist {
  margin: 200px 0 10px 0;
}

.hover-ist li {
  margin: 10px 50px;
}

.hover-ist a {
  font-weight: 600;
  text-transform: initial;
  padding: 0.6em;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
}

.hover-ist a:hover {
  color: #fff;
  background-color: #007bff; /* Primary */
  text-decoration: none;
}

.hover-ist span {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .hover-ist {
    margin: 50px 0;
  }
  .hover-ist li {
    margin: 10px 0;
  }
}

/* Button */

.hover-ing a {
  font-weight: 600;
  text-transform: initial;
  border: 1px solid #007bff; /* Primary */
  padding: 0.6em;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
}

.hover-ing a:hover {
  color: #fff;
  border: 1px solid #007bff; /* Primary */
  background-color: #007bff; /* Primary */
  text-decoration: none;
}

.hover-ing span {
  text-decoration: underline;
}

/* Portfolio */

.portfolio {
  border-top: 1px solid#007bff; /* Primary */
}

.cards {
  border: 1px solid #007bff; /* Primary */
  margin: 0.6em;
  border-radius: 0 !important;
}

.cards h4 {
  color: #000;
}

.cards .sub-one {
  font-size: 0.6em;
  width: 100px;
  padding: 0.6em;
  text-align: center;
  color: #fff;
  background-color: #5a6268; /* Secondary */
  display: block;
  float: left;
}

.cards .clicking {
  color: #007bff; /* Primary */
  background-color: #fff;
  font-weight: 600;
  text-transform: initial;
  text-align: left;
  border: 1px solid #007bff; /* Primary */
  border-radius: 0 !important;
  padding: 0.6em;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
}

.cards .clicking:hover {
  color: #fff;
  border: 1px solid #007bff; /* Primary */
  background-color: #007bff; /* Primary */
  text-decoration: none;
}

.cards .clicking span {
  text-decoration: underline;
}

/* Portfolio Project */

.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  padding: 3em 0.3em;
  overflow: hidden;
  opacity: 1;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    #5a6268,
    #007bff
  ); /* Secondary -> Primary */
  opacity: 0.2;
}

.hero .title {
  color: #fff;
  padding: 50px;
}

.content {
  padding: 3em 0.3em;
}

/* Footer */
.btn,
.nav-link {
  color: #007bff !important; /* Primary */
  background-color: transparent !important;
  border-color: #007bff !important; /* Primary */
}

/* Footer */

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
}

.footer img {
  display: block;
  margin: 0 auto;
}
