/* Brand */

.company {
  height: 150px;
  width: 150px;
  fill: #000;
  padding: 2em;
  border: 1px solid #000;
  background-color: #fff;
}

.icon {
  height: 25px;
  width: 25px;
  fill: #fff;
}
.navbar span {
  text-transform: initial;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  animation-name: loader-transition;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 2s !important;
}

@keyframes loader-transition {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

/* Navigation */

.hover-er a {
  font-weight: 600;
  text-transform: initial;
  padding: 0.6em;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
}

.hover-er a:hover {
  color: #fff;
  background-color: #0062e6; /* 10% Darker Than Primary */
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
}

/* Sidegation */

.hover-ist {
  margin: 200px 0 10px 0;
}

.hover-ist li {
  margin: 10px 50px;
}

.hover-ist a {
  font-weight: 600;
  text-transform: initial;
  padding: 0.6em;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
}

.hover-ist a:hover {
  color: #fff;
  background-color: #007bff; /* Primary */
  text-decoration: none;
}

.hover-ist span {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .hover-ist {
    margin: 50px 0;
  }
  .hover-ist li {
    margin: 10px 0;
  }
}

/* Button */

.hover-ing a {
  font-weight: 600;
  text-transform: initial;
  border: 1px solid #007bff; /* Primary */
  padding: 0.6em;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
}

.hover-ing a:hover {
  color: #fff;
  border: 1px solid #007bff; /* Primary */
  background-color: #007bff; /* Primary */
  text-decoration: none;
}

.hover-ing span {
  text-decoration: underline;
}

/* Portfolio */

.portfolio {
  border-top: 1px solid #000;
}

.cards {
  border: 1px solid #000;
  margin: 0.6em;
  border-radius: 0 !important;
}

.cards h4 {
  color: #000;
}

.cards .sub-one {
  font-size: 0.6em;
  width: 100px;
  padding: 0.6em;
  text-align: center;
  color: #fff;
  background-color: #5a6268; /* Secondary */
  display: block;
  float: left;
}

.cards .clicking {
  color: #007bff; /* Primary */
  background-color: #fff;
  font-weight: 600;
  text-transform: initial;
  text-align: left;
  border: 1px solid #007bff; /* Primary */
  border-radius: 0 !important;
  padding: 0.6em;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
}

.cards .clicking:hover {
  color: #fff;
  border: 1px solid #007bff; /* Primary */
  background-color: #007bff; /* Primary */
  text-decoration: none;
}

.cards .clicking span {
  text-decoration: underline;
}

/* Portfolio Project */

.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #acacac, #007bff);
  opacity: 0.6;
}

.hero .title {
  color: #fff;
}

.content p {
}
