/* Brand */

.company {
    height: 150px;
    width: 150px;
    fill: #000;
    padding: 2em;
    border: 1px solid #000;
    background-color: #fff;
}

.icon {
    height: 25px;
    width: 25px;
    fill: #ffffff;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.navbar span{
    text-transform: initial;
}

/* Navigation */

.hover-er a {
    font-weight: 600;
    text-transform: lowercase;
    padding: 10px;
    width: 100%;
    display: block;
    transition: background-color 0.5s ease;
}

.hover-er a:hover {
    color: #ffffff;
    background-color: #0062E6; /* 10% Darker Than Primary */
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none;
}

/* Sidegation */

.hover-ist {
    margin: 200px 0 10px 0;
}
.hover-ist li{
    margin: 10px 50px;
}
.hover-ist a{
    font-weight: 600;
    text-transform: lowercase;
    padding: 10px;
    width: 100%;
    display: block;
    transition: background-color 0.5s ease;
}
.hover-ist a:hover {
    color: #ffffff;
    background-color: #007bff; /* Primary */
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
}
.hover-ist span {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .hover-ist {
        margin: 50px 0;    
    }
    .hover-ist li{
        margin: 10px 0;
    }
}

/* Button */

.hover-ing a {
    font-weight: 600;
    text-transform: lowercase;
    border: 1px solid;
    padding: 10px;
    width: 100%;
    display: block;
    transition: background-color 0.5s ease;
}

.hover-ing a:hover {
    color: #ffffff;
    background-color: #007bff; /* Primary */
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
}

.hover-ing span {
    text-decoration: underline;
}

/* Portfolio */

.portfolio{
    border-top: 1px solid #000;
}