/* Adjustment Layers */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
main {
  display: block;
}
.v-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bootstrap Overwrites */

.container-fluid {
  padding: 0 !important;
}

.lead {
  color: #007bff; /* Primary */
  font-size: 1.6em !important;
  font-weight: 600 !important;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.jumbotron {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* Global */

::selection {
  background: #0062e6; /* 10% Darker Than Primary */
}

::-moz-selection {
  background: #0062e6; /* 10% Darker Than Primary */
}

a:hover {
  text-decoration: none;
}
